<div class="container">
    <div  class="main-content"*ngIf="product; else notFound">
      <h2>Product Details</h2>
      <p><strong>Name:</strong> {{ product.name }}</p>
      <p><strong>Description:</strong> {{ product.description }}</p>
      <p><strong>Manufacturer:</strong> {{ product.manufacturer }}</p>
      <p><strong>Price (&#8377;):</strong>{{ product.price }}</p>
      <p><strong>Quantity:</strong> {{ product.quantity }}</p>
      <button (click)="navigateToInventory()">Back to Inventory</button>
    </div>

    <ng-template #notFound>
      <p>Product not found.</p>
    </ng-template>
  </div>
